* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;                    /* da sistemare */
  font-family: Arial, Helvetica, sans-serif
}

/* .debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
} */

/* .dashed {
  border: 1px dashed black;
} */

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #255ee9;
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #daa520; */
  /* height: 50px; */
  width: 1250px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 250px;
  padding-left: 10px;
  /* background-color: #228b22; */
}

/* .logo-img {
  background-color: pink;
} */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  width: 750px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none
}

nav ul li a {
  padding: 5px 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login {
  display: flex;
  height: 50px;
  width: 250px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: white;
  padding: 15px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.b-btn {
  background-color: #23272a;
  padding: 15px 15px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
/* /HEADER */

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
  /* background-color: #00008b; */
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  /* height: 420px; */
  /* background-color: #ee82ee; */
  text-align: center;
}

.text {
  font-size: 3rem;
  font-weight: bolder;
}

.caption {
  width: 925px;
  padding: 50px 10px;
  font-size: 1.50rem;
}

.b-caption {
  padding-top: 30px;
  font-size: 1.50rem;
}

.hero-container .text, 
.hero-container .caption {
  color: white;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  /* width: 450px; */
  /* background-color: #7fffd4; */
}

.button .btn {
  margin: 0 20px;
}
/* /HERO */

/* MAIN */
main {
  background-color: #23272a;                 /* da sistemare */
}

.section-white{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  background-color: white;
}
.section-grey{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  background-color: #f6f6f6;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  /* height: 515px; */
  /* background-color: #1e90ff; */
}

.section-white .text-container {
  padding-right: 150px;
}

.section-grey .text-container {
  padding-left: 150px;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 500px;
  /* height: 515px; */
  /* background-color: #ffc0cb; */
}

.big-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1050px;
  background-color: #f6f6f6;
}

.container-big-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 1250px;
  height: 940px;
  /* background-color: #228b22; */
}

.text-center {
  text-align: center;
}

.a-btn {
  background-color: #8ea1e1;
  color: white;
  cursor: pointer;
}

.small-text {
  font-size: 30px;
  font-weight: bolder;
  height: 50px;
  width: 100%;
  background-image: url(../img/stars.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* /MAIN */

/* FOOTER */
footer {
  background-color: #23272a;
}

.big-column {
  width: 370px;
  /* height: 600px; */
  padding-right: 100px;
  /* background-color: #f08080; */
}

.big-column .title{
  font-size: 2rem;
  font-weight: bold;
  color: #7289da;
}

.languages {
  padding: 30px 0;
  color: white;
}

.languages img {
  width: 30px;
  height: 20px;
}

.social {
  color: white;
}

.social i {
  margin-right: 30px;
}

.top-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* height: 650px; */
  padding-top: 110px;
}

.column {
  width: 220px;
  /* height: 600px; */
  /* background-color: #20b2aa; */
}

.column .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #7289da;
  margin-bottom: 20px;
}

.column ul {
  list-style: none;
  margin-bottom: 20px;
}

.column li {
  margin-bottom: 20px;
}

.column a{
  text-decoration: none;
  color: white;
}

.column a:hover{
  text-decoration: underline;
}

/* .hr {
  color: white;
} */

.line {
  border-bottom: 1px solid #48567d;
  margin: auto 150px;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 120px; */
  padding: 40px 0 115px;
  background-color: #23272a;
}

.bottom-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  /* height: 90px; */
  /* background-color: #7fffd4; */
}

.logo-footer {
  display: flex;
  width: 70px;
  height: 40px;
  /* background-color: #fbb3be; */
  justify-content: center;
  align-items: center;
}

.btn-footer {
  display: flex;
  width: 100px;
  height: 40px;
  /* background-color: #fbb3be; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* /FOOTER */