* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;                    /* da sistemare */
  font-family: Arial, Helvetica, sans-serif
}

/* .debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
} */

/* .dashed {
  border: 1px dashed black;
} */

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #255ee9;
  height: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
/*   background-color: #daa520;
 */  height: 50px;
  width: 1250px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 250px;
  padding-left: 10px;
/*   background-color: #228b22;
 */}

.logo-img {
/*   background-color: pink;
 */}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 750px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none
}

nav ul li a {
  padding: 5px 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login {
  display: flex;
  height: 50px;
  width: 250px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: white;
  padding: 15px 15px;
  border-radius: 30px;
}

.b-btn {
  background-color: #23272a;
  padding: 15px 15px;
  border-radius: 30px;
  color: white;
}
/* /HEADER */

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
  /* background-color: #00008b; */
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 950px;
  height: 420px;
/*   background-color: #ee82ee;
 */}

.text {
  font-size: 60px;
  font-weight: bolder;
}

.caption {
  padding: 50px 70px 10px;
  font-size: 20px;
  text-align: center;
}

.hero .hero-container .text, .caption {
  color: white;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 400px;
/*   background-color: #7fffd4;
 */}
/* /HERO */

/* MAIN */
main {
  background-color: #23272a;                 /* da sistemare */
}

.section-white{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  background-color: white;
}
.section-grey{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  background-color: #d3d3d3;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 515px;
/*   background-color: #1e90ff;
 */}

.text-container {
  width: 500px;
  height: 515px;
  background-color: #ffc0cb;
}

.big-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1050px;
  background-color: #d3d3d3;
}

.container-big-bottom {
  width: 1250px;
  height: 940px;
  background-color: #228b22;
}
/* /MAIN */

/* FOOTER */
footer {
  background-color: #23272a;
}

.top-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 650px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.big-column {
  width: 370px;
  height: 600px;
  background-color: #f08080;
}

.column {
  width: 220px;
  height: 600px;
  background-color: #20b2aa;
}

/* .hr {
  color: white;
} */

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 120px;
  background-color: #23272a;
}

.bottom-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  height: 90px;
  background-color: #7fffd4;
}

.logo-footer {
  display: flex;
  width: 70px;
  height: 40px;
  background-color: #fbb3be;
  justify-content: center;
  align-items: center;
}

.btn-footer {
  display: flex;
  width: 100px;
  height: 40px;
  background-color: #fbb3be;
  justify-content: center;
  align-items: center;
}
/* /FOOTER */